<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Currency converter{% endblock %}</title>
         {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}

       <script src="{{ asset('js/jquery.min.js') }}"></script>
       <script src="{{ asset('js/currency.js') }}"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
