.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;

  width: 50%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
}
.operations-container {
  display: none;
}
.operations-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: cadetblue;
  font-size: 18px;
  margin: 10px;
}
.operations-button:hover {
  background-color: aquamarine;
}

#withdraw-converted {
  display: none;
}
