* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#contentContainer {
    position: absolute;
    top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff00;
    width: 80vw;
    max-width: 360px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#loginContainer {
    position: absolute;
    top: 20px;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    margin: 20px auto 30px;
    color: rgb(51, 59, 81);
    font-size: 40px;
}

.hidden {
    display: none;
}

label {
    margin-bottom: 8px;
}

input {
    border: 1px solid rgb(0, 129, 194);
    border-radius: 10px;
    width: 68vw;
    max-width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 14px;
    color: #5b5b5b;
    font-weight: 400;
}

input::placeholder {
    color: #b7b7b7; 
}

#loginButton {
    width: 30vw;
    max-width: 100px;
    height: 40px;
    margin-top: 20px;
    color: white;
    background-color: rgb(0, 129, 194);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

#invalidLoginHide {
    display: none;
    position: absolute;
    top: 360px;
    z-index: 30;
    color: rgb(199, 64, 64);
    text-align: center;
}

#blockedAccountMessageHide {
    display: none;
    position: absolute;
    top: 360px;
    z-index: 30;
    color: rgb(199, 64, 64);
    font-weight: 700;
    text-align: center;
}

#balanceContainer {
    display: none;
    position: absolute;
    top: 230px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
}

#balance {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-weight: 700;
}

#buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 60px;
    width: 300px;
    z-index: 500;
}

.button  {
    width: 66px;
    height: 28px;
    cursor: pointer;
}


#depositContainer, #withdrawContainer, #viewContainer, #transferContainer {
    display: none;
    align-items: center;
    width: 360px;
}

#depositAmountLable, #withdrawAmountLable, 
#transferAmountLable, #transferToAccountLable {
    position: absolute;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    width: 360px;   
}

#depositAmountInput, #withdrawAmountInput, 
#transferAmountInput,
#transferToAccountInput{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid grey;
    text-align: right;
    padding-right: 10px;
    z-index: 501;
}

#depositAmountInput::placeholder, #withdrawAmountInput::placeholder,
#transferAmountInput::placeholder {
    text-align: right;
    padding-right: 0px;
}

#send, #withdrawSendButton, #transferSendButton {
    width: 50px;
    height: 30px;
    z-index: 502;  
}

#viewTotal{
margin: 0 auto;
}

#viewTotalAmount{
    
}

#transferToAccountLable{
    position: absolute;
    top: 86px;
}

#transferToAccountInput{
    width: 180px;
}

#invalidAccountNumber{
    display: none;
    position: absolute;
    top: 160px;
    color: rgb(199, 64, 64);
}



#transferSendButton{
    margin-top: 10px;
}
