<!DOCTYPE html>
<html>
<head>
    <title>Dev Level Zero - @dlimon2</title>
</head>
<body>
    <header>
        <h1>Dev Level Zero</h1>
        <h3><a href="https://github.com/dlimon2" target="_blank">@dlimon2</a>
    </header>
    <main>
    <ul>
        <li><a href="{{url_for('bankingsystem.hello')}}">BancaDev: Banking System</a>
        <p>Username: daniel | Password: admin | Reset system (flush data): <a href="{{url_for('bankingsystem.reset')}}">/bankingsystem/reset</a></p>
        <li><a href="{{url_for('shippingsystem.hello')}}">ShippingDev: Shipping System</a>
        <p>Username: dani | Password: bob | Reset system (flush data): <a href="{{url_for('shippingsystem.reset')}}">/shippingsystem/reset</a></p>
        <li><a href="{{url_for('currencyexchange.hello')}}">ExchangeDev: Currency Exchange</a>
        <p>Reset system (flush data): <a href="{{url_for('shippingsystem.reset')}}">/shippingsystem/reset</a></p>

    </ul>
    </main>
</body>
</html>

